<div class="win-rate large mar-bottom-10">
  <span>
    <strong>Win Rate: <%= win_rate(@accas)[:win_rate] %>%</strong>
  </span>
  <span>
    <%= win_rate(@accas)[:total_winners] %>/<%= win_rate(@accas)[:total_bets] %>
  </span>
  <div class="bar" style="width: <%= win_rate(@accas)[:win_rate] %>%;"></div>
</div>

<div class="mobile-widget-scroller">
  <div class="flex-row" style="margin: -5px;">
    <%= render "dashboard/stats/no_bets" %>
    <%# render "dashboard/stats/lost_by_one" %>
    <%= render "dashboard/stats/biggest_win" %>
    <%= render "dashboard/stats/biggest_loss" %>
    <%= render "dashboard/stats/total_staked" %>
    <%= render "dashboard/stats/profit_loss" %>
  </div>
</div>

<div class="line-divide"></div>

<div class="">
  <%= render "dashboard/stats/progress_graph" %>
</div>

<div class="line-divide"></div>

<div class="flex-row flex-wrap" style="margin:0 -5px;">
  <div class="width-33 break">
    <div class="flex-row" style="padding:5px 5px 6px 5px;">
      <%= render "dashboard/stats/most_backed_teams" %>
    </div>
  </div>
  <div class="width-33 break">
    <div class="flex-row" style="padding:5px 5px 6px 5px;">
      <%= render "dashboard/stats/best_teams" %>
    </div>
  </div>
  <div class="width-33 break">
    <div class="flex-row" style="padding:5px 5px 6px 5px;">
      <%= render "dashboard/stats/worst_teams" %>
    </div>
  </div>
</div>

<div class="line-divide"></div>