<div class="page-title">
  <h1>Dashboard</h1>
</div>

<div class="search-filter mar-bottom-10">
  <h2>Filter Accas</h2>
  <%= form_tag(root_path,  method: 'GET', remote: true, class: "width-100", id: "dashboard_search") do %>
    <div class="form-group-inline">
      <div class="form-group no-margin mar-right-10 auto add-on relative">
        <%= text_field_tag :date_from, "", class: "form-control datetimepicker", value: "#{Date.current.year}-08-01" %>
        <span class="add-on open-datepicker"><i class="fa fa-calendar" aria-hidden="true"></i></span>
      </div>
      <div class="form-group no-margin mar-right-10 auto add-on relative">
        <%= text_field_tag :date_to, "", class: "form-control datetimepicker", value: Date.today.end_of_day %>
        <span class="add-on open-datepicker"><i class="fa fa-calendar" aria-hidden="true"></i></span>
      </div>

      <%= button_tag(type: "submit", class: "btn btn-primary") do %>
        <i class="fa fa-search" aria-hidden="true"></i> Search
      <% end %>
    </div>
  <% end %>
  <div>

  </div>
</div>

<div id="acca_stats">
  <%= render "acca_stats" %>
</div>

<script>
  // Datetimepicker
  $('.datetimepicker').datetimepicker({
    format: "YYYY-MM-DD",
  });
</script>