<table class="table">
  <tr>
    <th>Biggest Winners</th>
    <th>Win Rate</th>
    <th class="text-right">Number Of Bets</th>
  </tr>
  <% most_winning_teams(@accas).each do |selection| %>
    <tr>
      <td><%= link_to Selection.find(selection[0]).name, edit_selection_path(selection[0]) %></td>
      <td>
        <div class="win-rate">
          <span>
            <%= selection_win_rate(@accas, selection[0])[:total_winners] %>/<%= selection_win_rate(@accas, selection[0])[:total_bets] %>
          </span>
          <span>
            <%= selection_win_rate(@accas, selection[0])[:win_rate] %>%
          </span>
          <div class="bar" style="width: <%= selection_win_rate(@accas, selection[0])[:win_rate] %>%;"></div>
        </div>
      </td>
      <td class="text-right">
        <%= selection[1] %>
      </td>
    </tr>
  <% end %>
</table>