<table class="table">
  <tr>
    <th style="width:80%;">Most Backed Teams</th>
    <th style="width:20%;" class="text-right">Win Rate</th>
  </tr>
  <% most_backed_teams(@accas).each_with_index do |selection,i| %>
    <tr>
      <td><%= i+1 %>. <%= link_to Selection.find(selection[0]).name, edit_selection_path(selection[0]) %></td>
      <td>
        <div class="win-rate">
          <span>
            <%= selection_win_rate(@accas, selection[0])[:win_rate] %>%
          </span>
          <span>
            <%= selection_win_rate(@accas, selection[0])[:total_winners] %>/<%= selection_win_rate(@accas, selection[0])[:total_bets] %>
          </span>
          <div class="bar" style="width: <%= selection_win_rate(@accas, selection[0])[:win_rate] %>%;"></div>
        </div>
        <%= selection[1] %>
      </td>
    </tr>
  <% end %>
</table>