<div class="modal-header">
  <h1>
    <%= @acca.bet_type %> <small>[<%= @acca.date.strftime("%d/%m/%Y") %>]</small>
  </h1>
  <a href="#" class="close-modal" data-empty="true"></a>
</div>
<div class="modal-notice <%= @acca.return > 0 ? 'success' : 'danger' %>">
    <%= "#{@acca.return > 0 ? 'Well done!' : 'Unlucky!'}" %> Your stake of <%= number_to_currency(@acca.stake, unit: "£") %> returned <%= number_to_currency(@acca.return, unit: "£") %>
</div>

<div class="line-divide"></div>

<% @acca.legs.each do |leg| %>
  <div class="selection-card-container mar-top-5 <%= leg_class(leg) %>">
    <div class="selection-card">
      <div class="selection-card-body">
        <% if [Leg::Type::WIN,Leg::Type::EW,Leg::Type::DOUBLE_CHANCE,Leg::Type::DRAW_NO_BET,].include?(leg.leg_type) %>
          <h2><%= Selection.find(leg.selection).name %></h2>
        <% else %>
          <h2><%= leg.leg_type %></h2>
        <% end %>
        <% if @acca.category == Acca::Category::FOOTBALL %>
          <p class="muted"><%= Selection.find(leg.selection).name %> vs <%= Selection.find(leg.opponent).name %></p>
        <% end %>
      </div>
      <div class="selection-card-footer">
        <p class="muted">Leg Type:</p>
        <p class="muted"><%= leg.leg_type %></p>
      </div>
    </div>
  </div>
<% end %>

<div class="divider"></div>

<%= link_to "Delete This Acca", acca_path(@acca), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>