<div class="modal-header">
  <h1>
    <%= @acca.bet_type %> <small>[<%= @acca.date.strftime("%d/%m/%Y") %>]</small>
  </h1>
  <a href="#" class="close-modal" data-empty="true"></a>
</div>
<div class="modal-notice <%= @acca.return > 0 ? 'success' : 'danger' %>">
  <%= "#{@acca.return > 0 ? 'Well done!' : 'Unlucky!'}" %> Your stake of <%= number_to_currency(@acca.stake, unit: "£") %> returned <%= number_to_currency(@acca.return, unit: "£") %>
</div>

<div class="line-divide"></div>

<ul class="acca-legs no-padding-top no-padding-bottom">
  <% @acca.legs.each do |leg| %>
    <li>
      <div class="flex-row v-middle">
        <span class="leg-result <%= leg_class(leg) %>"></span>
        <h2>
          <%= Selection.find(leg.selection).name %>
          <small class="muted"><%= leg.event %> | <%= leg.leg_type.titleize %></small>
        </h2>
      </div>
      <p><%= leg.odds %></p>
    </li>
  <% end %>
</ul>

<div class="line-divide"></div>

<%= link_to "Delete This Acca", acca_path(@acca), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>