<% unless @accas.empty? %>
  <%= paginate @accas, window: 0 %>
  <% @accas.each do |date,accas| %>
    <div class="date-heading">
      <h2><%= "#{date.strftime('%A')} (#{date.strftime("%d/%m/%Y")})" %></h2>
      <div class="flex-row v-middle">
        <p class="muted"><%= "#{pluralize(accas.count, 'Bet')} | Total Staked: #{number_to_currency(accas.map{|a| a.stake rescue 0}.sum, unit: '£')} | Total Return: #{number_to_currency(accas.map{|a| a.return rescue 0}.sum, unit: '£')}" %></p>
        <span class="chev mar-left-5 <%= accas.map(&:return).sum > 0 ? 'profit' : 'loss' %>"></span>
      </div>
    </div>
    <% accas.each do |acca| %>
      <div class="acca-card small mar-bottom-5">
        <div class="acca-card-header">
          <h2>
            <small><%= acca.date %></small>
            <%= acca.bet_type %>
          </h2>
          <%= link_to "<i class='fa fa-pencil' aria-hidden='true'></i> Edit".html_safe, edit_acca_path(acca) %>
        </div>
        <ul class="acca-legs small">
          <li><%= link_to get_acca_selections(acca), "", class: "open-modal get-acca", data: { acca_id: acca.id } %></li>
        </ul>
        <div class="acca-card-footer">
          <div>
            <p class="bold">Stake: <%= number_to_currency(acca.stake, unit: "£") %></p>
          </div>
          <div>
            <p class="bold">Return: <%= number_to_currency(acca.return, unit: "£") %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= paginate @accas, window: 0 %>
<% else %>
  <div class="alert alert-info">No Accas</div>
<% end %>