<% unless @accas.empty? %>
  <%= paginate @accas %>
  <% @accas.each do |date,accas| %>
    <div class="date-heading">
      <h2><%= "#{date.strftime('%A')} (#{date.strftime("%d/%m/%Y")})" %></h2>
      <div class="flex-row v-middle">
        <p class="muted"><%= "#{pluralize(accas.count, 'Bet')} | Total Staked: #{number_to_currency(accas.map(&:stake).sum, unit: '£')} | Total Return: #{number_to_currency(accas.map(&:return).sum, unit: '£')}" %></p>
        <span class="chev mar-left-5 <%= accas.map(&:return).sum > 0 ? 'profit' : 'loss' %>"></span>
      </div>
    </div>
    <% accas.each do |acca| %>
      <div class="card">
        <div class="card-header">
          <p class="muted"><%= acca.date.strftime("%d/%m/%Y") %></p>
          <%= link_to "<i class='fa fa-pencil' aria-hidden='true'></i> Edit".html_safe, edit_acca_path(acca) %>
        </div>
        <div class="card-body">
          <%= link_to get_acca_selections(acca), "", class: "open-modal get-acca", data: { acca_id: acca.id } %>
          <p class="muted">Bet Type: <%= acca.bet_type %> | Category: <%= acca.category %></p>
        </div>
        <div class="card-footer">
          <table class="outlined">
            <tr>
              <td style="width:50%;">
                <div>
                  <p>Stake:</p>
                  <p><%= number_to_currency(acca.stake, unit: "£") %></p>
                </div>
              </td>
              <td style="width:50%;">
                <div>
                  <p>Return:</p>
                  <p><span class="tag <%= acca.return > 0 ? 'profit' : 'loss' %>"><%= number_to_currency(acca.return, unit: "£") %></span></p>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= paginate @accas %>
<% else %>
  <div class="alert alert-info">No Accas</div>
<% end %>